*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: #0A0A0A;
    color: #FFFFFF;
}

/* The nav bar */
nav{
    font-family: 'Lucida Sans';
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding-left: 3rem;
    
}
.right_nav_container{
    display: flex;
    align-items: center;
}
.menu_icon{
    height: 1.5rem;
}
.link{
    text-decoration: none;
    font-size: small;
}